*,*::before,*::after{box-sizing: border-box;}

.section{background-color: #f9f9f9;}
.section a:hover{background-color: #eeeeee; text-decoration:none;border-radius:20px;}
.btn{border: 2px solid;}
.section1,.section5,.section6{border-radius:30px;}
.section1 img{border-radius:15px;}
.section2-card1,.section5-card,.section6 img,.section7-card,.section8-form,.section9-card{border-radius: 27px;}
.section2-card1,.section9-card,.section7-card{background-color: #eeeeee;}
.section2-card1 img{border-radius:15px;}
.section3-card1 img,.section3-card2 img,.section3-card3 img{border-radius:15px;}
.section2-card2{background-color: #c4f54b;border-radius: 27px;}
.section2-card3{background-color: #ffffff;border-radius: 27px;}
.section2-card3 p{padding-bottom:4rem;}
.section3-card1{border-radius:30px;}
.section3-card2{background-color: #eeeeed;border-radius:30px;}
.section3-card3{background-color: #a8d641;border-radius:30px;}
.section5-card img{border-top-right-radius: 27px;border-top-left-radius: 27px;}
.section5-card .card-body{background-color: #eeeeee;border-bottom-left-radius: 27px;border-bottom-right-radius: 27px;}
.fa-envelope,.fa-phone,.fa-address-book,.fa-wordpress{font-size:2rem;}



@media (min-width:767px) and (max-width:992px){

.section2-card3 p{padding-bottom: 0;}
.section3 .card-body{padding:0;}
.section3 .d-flex{display: block !important;}
.section3-card2 h4,.section3-card3 h4{margin-bottom:2.5rem;}
.section3 .card-text{margin-top:1rem;}
}


